body {
    margin :50px;
    background-color: black;
    
}
.h1{
    width: 300px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.image-grid {
    --gap: 16px;
    --num-cols:4;

    -box-sizing:border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), lfr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width :100%;
    height: 100%;
}

.image-grid-col-2{
    grid-row: span 2;
}

.image-grid-row-2{
    grid-column: span 2;
}
@media (max-width:768px) {
    .image-grid{
        flex-direction: column;
    }
}
